section.alabama-tourism {
  background: url('../img/bg_atd.jpg') top center no-repeat #dedede;
  .atd-logo {
    @include grid-column(6, $offset: 6);
    float: right;
    margin: 8rem 0 1rem;
  }
  .atd-copy {
    @include grid-column(9.5, $offset: 2.5);
    font-size: 1.2rem;
    text-align: right;
  }
  .atd-imac {
    @include grid-column(12);
    margin-top: 8rem;
  }
}

.laptop {
  @include grid-column(12);
  background: url('../img/laptop.png') top center no-repeat;
  background-size: contain;
  padding: 4% 17.75% 4% 18.2%;
}

.emails {
  @include grid-column(4.5, $offset: 3.75);
}