section.cash {
  background: url('../img/cash-bg.jpg') top center no-repeat #ffffff;
  background-size: contain;
  border-top: 5px solid #a0c44a;
  .cash-logo {
    @include grid-column(3, $offset: 4.5);
    margin: 5rem 0 1rem;
  }
  .cash-copy {
    @include grid-column(8, $offset: 2);
    font-size: 1rem;
    margin: 2rem 0 4rem;
  }
  .piggy {
    @include grid-column(7, $offset: 1);
  }
  p {
    font-size: 1rem;
    width: 100%;
  }
  .choose-logo {
    @include grid-column(6, $offset: 3);
    margin: 15rem 0;
  }
  .poster {
    @include grid-column(9, $offset: 1.5);
    margin-top: 3rem;
  }
  .social-media {
    margin-bottom: 10rem;
  }
  .cash-install {
    @include grid-column(8, $offset: 2);
    margin: 3rem 0;
  }
  .cash-mobile {
    @include grid-column(8, $offset: 2);
    margin: 3rem 0 10rem;
  }
  .left-section, .right-section {
    p {
      width: 65%;
    }
  }
}

@media only screen and (max-width : 736px) {
  section.cash {
    .arrow {
      padding: 75px 0;
    }
    .cash-logo {
      @include grid-column(6, $offset: 3);
      margin: 5rem 0 1rem;
    }
    .piggy {
      @include grid-column(9, $offset: 0);
    }
    p {
      br {display: none;}
    }
    .cash-install {
      @include grid-column(10, $offset: 1);
      margin: 3rem 0;
    }
    .cash-copy {
      @include grid-column(12, $offset: 0);
    }
    .choose-logo {
      @include grid-column(12, $offset: 0);
      margin: 5rem 0;
    }
    .poster {
      @include grid-column(12, $offset: 0);
    }
    .cash-mobile {
      @include grid-column(12, $offset: 0);
      margin: 3rem 0 0;
    }
  }
}