header {
  border-top: 3px solid $blue;
  padding: 10px;
  .logo {
    height: 50px;
  }
  #nav-toggle {
    display: none;
  }
  .social {
    float: right;
    margin-left: 30px;
    ul {
      line-height: 50px;
      margin-bottom: 0;
      li {
        display: inline-block;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
        a {
          background: url('../img/sprite_social.png') no-repeat;
          display: block;
          height: 13px;
          width: 13px;
          -o-transition: all .2s;
          -moz-transition: all .2s;
          -webkit-transition: all .2s;
          -ms-transition: all .2s;
        }
        .fb {
          background-position: 0 0;
          width: 16px;
          &:hover { background-position: 0px -13px; }
        }
        .tw {
          background-position: -16px 0;
          width: 15px;
          &:hover { background-position: -16px -13px; }
        }
        .bl {
          background-position: -31px 0;
          &:hover { background-position: -31px -13px; }
        }
        .is {
          background-position: -44px 0;
          &:hover { background-position: -44px -13px; }
        }
        .in {
          background-position: -57px 0;
          &:hover { background-position: -57px -13px; }
        }
        .rs {
          background-position: -70px 0;
          width: 10px;
          &:hover { background-position: -70px -13px; }
        }
      }
    }
  }
  nav {
    float: left;
    ul {
      margin-bottom: 0;
      li {
        margin-left: 50px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    a {
      color: $nav;
      font-family: 'BrandonGrotesqueBlack';
      font-size: .9rem;
      padding-bottom: 4px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color: $black;
        transition: all 450ms ease-in-out;
        border-bottom: 1px solid $black;
      }
    }
  }
  ul {
    li {
      display: inline;
      line-height: 52px;
    }
  }
}

//Tablet
@media only screen and (max-width : 1024px) {
  header {
    padding: 0;
    .logo {
      padding: 15px 0 15px 15px;
      height: 75px;
    }
    #nav-toggle {
      display: inline-block;
      float: right;
      margin: 25px 15px 0 0;
    }
    #menu {
      display: none;
    }
  }
}
