section.little-debbie {
  background: url('../img/bg_ld.jpg') top center no-repeat #ffffff;
  background-size:contain;
  display: inline-block;
  .ld-logo {
    @include grid-column(4, $offset: 4);
    margin: 10rem 0 3rem;
  }
  .ld-copy {
    @include grid-column(9.25, $offset: 1.375);
    font-size: 1rem;
    line-height: 2.5;
    text-align: center;
  }
  .ld-slider-copy {
    clear: both;
    @include grid-column(8, $offset: 2);
    font-family: 'BrandonGrotesqueLight';
    font-size: 1rem;
    text-align: center;
  }
  .ld-cookie {
    @include grid-column(8, $offset: 2);
    margin: 3rem 0;
  }
  .ld-slider1, .ld-slider2, .ld-slider3, .ld-slider4 {
    @include grid-column(8, $offset: 2);
    padding-bottom: 15rem;
    div {
      @include grid-column(10, $offset: 1);
      clear: both;
      .orbit-container {
        margin-top: 3rem;
        .orbit-prev {
          margin-left: -50px;
        }
        .orbit-next {
          margin-right: -50px;
        }
      }
    }
    .share-video {
      position: relative;
      background: url('../img/ld-slider-share-6.jpg') top center no-repeat;
      background-size: cover;
      padding: 7.5% 1.5% 49.25% 1.5%;
      margin-top: 3rem;
      iframe {
        position: absolute;
        width: 96.5%;
        height: 79.5%;
      }
    }
  }
  .social-media {
    margin-bottom: 10rem;
  }
  .ld-slider4 {
    padding-bottom:0;
    div.vine {
      position: relative;
      @include grid-column(12, $offset: 0);
      margin: 0 auto;
      height: 0;
      padding-bottom: 100%;
      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }
}

@media only screen and (max-width : 736px) {
  section.little-debbie {
    .ld-logo, .ld-copy, .ld-slider-copy, .ld-cookie, .ld-slider1, .ld-slider2, .ld-slider3, .ld-slider4 {
      @include grid-column(12, $offset: 0);
      padding-bottom: 5rem;
      div {
        @include grid-column(12, $offset: 0);
        .orbit-container {
          .orbit-prev {
            margin-left: 50px;
          }
          .orbit-next {
            margin-right: 50px;
          }
        }
      }
    }
    .ld-logo {
      margin: 5rem 0 0;
    }
    .ld-cookie {
      margin: 0;
    }
    .arrow {
      padding: 0;
    }
  }
}