section.portal {
  background: url('../img/portal-bg.png') top center no-repeat #fefefe;
  background-size: contain;
  border-top: 5px solid #1fa8d9;
  .portal-logo {
    @include grid-column(6, $offset: 3);
    margin: 10rem 0 1rem;
  }
  .portal-copy {
    @include grid-column(8, $offset: 2);
    font-size: 1rem;
    margin: 2rem 0 4rem;
  }
  .tv {
    @include grid-column(10, $offset: 1);
    margin: 3rem 0 10rem;
  }
  .stand {
    @include grid-column(8, $offset: 2);
    margin: 3rem 0 10rem;
    .thumbs {
      @include grid-column(9, $offset: 1.5);
    }
  }
  .escalator {
    display: block;
    margin: 3rem auto 10rem;
    width: 80%;
  }
  .wall {
    display: block;
    margin: 3rem auto 0;
    width: 80%;
  }
  p {
    font-size: 1rem;
    width: 100%;
  }
}

@media only screen and (max-width : 736px) {
  section.portal {
    .arrow {
      padding: 75px 0;
    }
    .portal-logo {
      @include grid-column(8, $offset: 2);
      margin: 5rem 0 1rem;
    }
    .portal-copy {
      @include grid-column(12, $offset: 0);
      font-size: 1rem;
      margin: 2rem 0 4rem;
    }
    .tv {
      @include grid-column(10, $offset: 1);
      margin: 3rem 0 10rem;
    }
    .stand {
      @include grid-column(12, $offset: 0);
      margin: 3rem 0 10rem;
      .thumbs {
        @include grid-column(12, $offset: 0);
      }
    }
    .escalator {
      display: block;
      margin: 3rem auto 5rem;
      width: 90%;
    }
    .wall {
      display: block;
      margin: 3rem auto 0;
      width: 90%;
    }
    p {
      font-size: 1rem;
      width: 100%;
    }
  }
}