section.webmd {
  background: #efefef;
  border-top: 5px solid #0082c8;
  .webmd-logo {
    display: block;
    @include grid-column(4, $offset: 4);
    margin: 5rem 0 1rem;
  }
  p {
    font-size: 1rem;
    &.tagline {
      @include grid-column(8, $offset: 2);
      margin: 2rem 0 5rem;
    }
  }
  .webmd-laptop {
    @include grid-column(9, $offset: 1.5);
  }
  .print-experience {
    margin-bottom: 4rem;
  }
  .webmd-thumbs {
    @include grid-column(9, $offset: 1.5);
    margin-top: 2rem;
  }
  .online-experience {
    margin: 12rem auto;
    p {
      @include grid-column(8.5, $offset: 1.75);
    }
  }
  .worst-advice {
    @include grid-column(4, $offset: 4);
    margin: 10rem auto;
  }
  .webmd-imac {
    margin-top: 2.5rem;
  }
  .interactive-banner p {
    width: 48%;
  }
  .orbit-container .orbit-prev {
    margin-left: 150px;
  }
  .orbit-container .orbit-next {
    margin-right: 150px;
  }
}

@media only screen and (max-width : 736px) {
  section.webmd {
  }
}